<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/bootstrap-icons.svg"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="assets/style/all.css" />

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid justify-content-center align-items-center">
        <a class="navbar-brand" href="#">EXHIBINECTION</a>
      </div>
      <div class="position-absolute top-50 end-0 translate-middle">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#">Sign in</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link" href="#">Sign up</a>
          </li>
          <li class="nav-item" data-content="ticket">
            <a class="nav-link text-dark py-0" href="#">
              <span class="material-icons lh-xl"> confirmation_number </span>
              <span
                class="bg-secondary text-white px-2 rounded-pill position-absolute top-0 end-0 fs-7"
                >1</span
              >
            </a>
          </li>
        </ul>
      </div>
      <!-- </div> -->
    </nav>
  </header>
  <main>
    <%- contents %>
  </main>


  <!-- 訂閱 -->
  <section class="py-6 subscribe" >
    <div class="container  h-100">
      <div class="row align-items-end h-100">
        <div class="col-4">
          <h4 class="text-white">想收到最新消息嗎？</h4>
          <h4 class="text-white mb-3"> 快訂閱我們！</h4>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2">
            <button class="btn btn-secondary py-3 px-8" type="button" id="button-addon2">訂閱 </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="py-6 container">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <h5 class="me-4">EXHIBINECTION</h5>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <div>
        <a href="#" class="text-content me-6">Sign in</a>
        <a href="#" class="text-content">Sign up</a>
      </div>
    </div>
  </footer>

  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/app.js"></script>
</body>

</html>